@CHARSET "UTF-8";

body {
	background-color: #000;
	color:#fff; 
	font-size:12px;
}

h1 {
	text-align: center;
}


.wait {
	text-align: center;
	padding:80px 0;
}


table {
	width:100%;
	border:0;
	border-collapse: collapse;
	margin:20px 0;
}

.paginationControl a, .paginationControl span {
	padding:0 10px;
	text-decoration: none;
	
}

/* dialog */
#dialog label { display:block; float:left; width:150px; text-align: right; padding-right:10px}
#dialog input, #dialog select { display:block; float:left; width:500px}
#dialog br {display:block; clear:both; margin-bottom:5px}
#dialog fieldset { padding:0; border:0; margin-top:25px; }


/* tabs */
.ui-tabs .ui-tabs-hide {
     display: none;
}	

.paginationControl {
	text-align: center;
}